.main {
  margin: 10px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "block-add" "block-show-all";

  .block-add {
    grid-area: block-add;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "input-field button";
    .block-add-input-field {
      grid-area: input-field;
      text-align: end;
      .input-field {
        width: 100%;
      }
    }
    .block-add-button {
      grid-area: button;
    }
  }
  .block-show-all {
    grid-area: block-show-all;
    .note {
      display: grid;
      grid-template-columns: 1fr 100px;
      grid-template-rows: auto;
      grid-template-areas: "text button";
      .note-text {
        grid-area: text;
      }
      .note-delete-button {
        grid-area: button;
      }
    }
  }
}